body {
  background: radial-gradient(
    circle,
    rgba(31, 94, 52, 0.979) 31%,
    rgb(110, 53, 9) 44%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
:root {
  --main-box-width: 180px;
  --mian-box-height: 180px;
  --main-top: -310px;
  --top: -1100px;
  --background: rgba(0, 0, 0, 0.781);
}
.topnav {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 90px;
  left: 300px;
  width: 1400px;
  height: 50px;
  background-color: rgb(7, 5, 5);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.topnav a {
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-family: "Exo 2", sans-serif;
  position: relative;
  top: 10px;
  left: 50px;
}
.topnav a:hover {
  color: rgb(19, 187, 41);
}
.dropbtn {
  width: 100px;
  height: 50px;
  position: relative;
  left: 300px;
  top: 40px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  background-color: rgb(17, 112, 80);
}
.dropbtn a {
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 251, 251);
  font-family: "Exo 2", sans-serif;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  position: relative;
  left: 308px;
  top: 148px;
  border-radius: 5px 0px 0px 5px;
}

.dropdown-content a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
}

.dropdown-content a:hover {
  background-color: #61573a;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: fixed;
}

.dropdown:hover .dropbtn {
  background-color: #a08429;
}
.icon {
  width: 200px;
  left: 2000px;
  position: absolute;
  background: rgba(206, 184, 60, 0.801);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Astra {
  position: fixed;
  left: 2250px;
  top: 100px;
  font-size: 50px;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 0, 0);
}

.Abi {
  color: rgb(27, 20, 20);
  font-family: "Fugaz One", sans-serif;
  position: relative;
  font-size: 40px;
  top: 280px;
  background-color: rgba(82, 167, 66, 0.671);
  left: 390px;
  width: 400px;
  text-align: center;
}
.Desc {
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
  width: 600px;
  position: relative;
  left: 300px;
  color: rgb(27, 6, 6);
  font-weight: bold;
}
.icon1 {
  width: 1100px;
  position: fixed;
  left: 750px;
  top: 200px;
}
.Astra:hover {
  color: #2b5380;
}
.mySlides {
  display: none;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  position: relative;
  top: 200px;
  left: -700px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: rgba(199, 28, 28, 0.8);
}

/* Caption text */
.Powerup {
  color: #aa2727;
  font-size: 15px;
  position: absolute;
  bottom: 8px;
  width: 80px;
  left: 450px;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #23ac16;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  top: 210px;
  left: -710px;
}

.active,
.dot:hover {
  background-color: #4f7059;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
.Icon {
  position: relative;
  top: var(--main-top);
  width: 180px;
  left: 1830px;
  background: rgba(184, 86, 21, 0.932);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.5s;
}
.Icon1 {
  position: relative;
  top: var(--main-top);
  width: 180px;
  left: 1870px;
  background: rgba(8, 86, 131, 0.863);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.5s;
}
.Icon2 {
  position: relative;
  top: var(--main-top);
  width: 180px;
  left: 1910px;
  background: rgba(209, 155, 5, 0.829);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.5s;
}
.Icon3 {
  position: relative;
  top: -110px;
  width: 180px;
  left: 1273px;
  background: rgba(197, 132, 10, 0.801);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.5s;
}
.Icon5 {
  position: relative;
  top: -110px;
  width: 180px;
  left: 1320px;
  background: rgba(9, 38, 202, 0.788);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.5s;
}
.Icon6 {
  position: relative;
  top: -110px;
  width: 180px;
  left: 1360px;
  background: rgba(89, 64, 177, 0.808);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.5s;
}
.Icon:hover {
  transform: scale(1.5);
  z-index: 1;
  background: rgb(88, 51, 51);
}
.Icon1:hover {
  transform: scale(1.5);
  z-index: 2;
  background: rgb(88, 51, 51);
}
.Icon2:hover {
  transform: scale(1.5);
  z-index: 3;
  background: rgb(88, 51, 51);
}
.Icon3:hover {
  transform: scale(1.5);
  z-index: 1;
  background: rgb(88, 51, 51);
}
.Icon5:hover {
  transform: scale(1.5);
  z-index: 3;
  background: rgb(88, 51, 51);
}
.Icon6:hover {
  transform: scale(1.5);
  z-index: 1;
  background: rgb(88, 51, 51);
}
.Icon4 {
  position: relative;
  top: -1850px;
  left: -1050px;
  width: 180px;
  background: rgba(89, 27, 95, 0.918);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.controller {
  color: rgb(27, 20, 20);
  font-family: "Fugaz One", sans-serif;
  position: relative;
  font-size: 40px;
  top: -389px;
  background-color: rgba(82, 167, 66, 0.671);
  left: 1950px;
  width: 400px;
  text-align: center;
}
.Footer {
  background-color: black;
  width: 2582px;
  height: 70px;
  top: 1209px;
  left: -10px;
  position: fixed;
}
.Footer a {
  font-size: 30px;
  color: white;
  text-decoration: none;
  position: relative;
  left: 1240px;
  top: 15px;
  font-family: "Exo 2", sans-serif;
}
